<app-vet-sidebar class="sidebar"></app-vet-sidebar>

<!-- Contenido principal -->
<div class = "main-content">

    <!-- Apartado (izquierdo) para presentar la información de la mascota -->
    <div class = "left-side">

        <!-- Nombre de la mascota -->
        <div class = "cabeza">
            <h1> {{cliente.mascotas[0].nombre}} </h1>
        </div>
        
        <!-- Card para presentar la información de la mascota -->
        <div class = "info">
            
            <!-- Imagen de la mascota -->
            <div class="card-image-container">
                <img alt="fotoPerro" [src]="cliente.mascotas[0].foto"/>
            </div> 

            <!-- informacion de la card -->
            <div class = info-texto>

                <!-- Informacion de la mascota -->
                <div class = info-dog>
                    <h2>Información Mascota</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Raza: <span> {{cliente.mascotas[0].raza}} </span></li>
                            <li>Edad: <span> {{cliente.mascotas[0].edad}} </span></li>
                            <li>Peso: <span> {{cliente.mascotas[0].peso}} </span></li>
                            <li>Enfermedad: <span> {{cliente.mascotas[0].enfermedad}} </span></li>
                            <li>Estado: <span> {{cliente.mascotas[0].estado}} </span></li>
                        </ul>
                    </div>
                    
                </div>

                <!-- Informacion del dueño de la mascota -->
                <div class = info-dueño>
                    <h2>Información Dueño</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Cedula: <span> {{cliente.cedula}} </span></li>
                            <li>Nombre: <span> {{cliente.nombre}} </span></li>
                            <li>Apellido: <span> {{cliente.apellido}} </span></li>
                            <li>Celular: <span> {{cliente.celular}} </span></li>
                        </ul>
                    </div>
                    
                </div>
            </div>                     
            
        </div>
    </div> 
    <!-- Fin del apartado (izquierdo) -->

    <!-- Apartado (derecho) para mostrar los tratamientos de la mascota -->
    <div class = "right-side">

        <!-- Apartado para la barra de busqueda para filtrar los tratamientos -->
        <div class = "search">
            <h1>Tratamientos </h1>
            <div class="input-container">
                <select required placeholder="Nuevo Tratamiento" type="text" [(ngModel)]="droga">
                    <option *ngFor="let droga of listaDrogas" [value]="droga.nombre"> {{droga.nombre}} </option> 
                </select>
                <button class="nevoTratamiento-btn" type="button" (click)="crearTratamiento()">
                    <i class='bx bx-capsule'></i>
                </button>               
            </div>
        </div>
        
        <!-- Tabla con los tratamientos de la mascota -->
        <table class="tablita">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Veterinario</th>
                    <th>Medicina</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla con los tratamientos de la mascota -->
            <tbody>
                <!-- por cada tratamiento de la mascota se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
                <tr *ngFor="let tratamiento of listaTratamientos" [id]="'tratamiento-row-' + tratamiento.id">
                    <td> <img class="fotoPerro" [src]="tratamiento.veterinario.foto"> </td>
                    <td> {{tratamiento.veterinario.nombre}} {{tratamiento.veterinario.apellido}} </td>
                    <td> {{tratamiento.droga.nombre}} </td>
                    <td> {{tratamiento.fecha}} </td>                                        
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fin del apartado (derecho) -->

</div>
<!-- Fin del contenido principal -->