<app-vet-sidebar class="sidebar"></app-vet-sidebar>

<!-- Encabezado de la pagina para el titulo y subtitulo del main-content -->
<div class = "titulo">
    <h1 class="main-title">Modificar Mascota</h1>
    <h1 class="main-subtitle">Actualizar una mascota en la base de datos de Petly</h1>
</div>

<!-- Contenido principal de la pagina -->
<div class = "main-content">
    
    <!-- Apartado (izquierdo) para modificar la informacion de la mascota -->
    <div class = "left-side">

        <h1> Informacion Modificada </h1>

        <!-- Formulario para modificar la informacion actual de la mascota -->
        <form th:object="${mascota}" th:action="@{/veterinario/mascotas/update/{id}(id=${mascota.id})}" method="post">
            
            <!-- Campos para modificar la informacion de la mascota -->
            <div class ="formulario">

                <!-- Campo para modificar el nombre de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{nombre}" type="text" id="nombre" required>
                    <label class="label" for="nombre">Nombre de la mascota</label>
                    <div class="underline"></div>
                </div>
                
                <!-- Campo para modificar la raza de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{raza}" type="text" id="raza" required>
                    <label class="label" for="raza">Raza</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Campo para modificar la edad de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{edad}" type="number" id="edad" required>
                    <label class="label" for="edad">Edad</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Campo para modificar el peso de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{peso}" type="number" id="peso" required>
                    <label class="label" for="peso">Peso</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Campo para modificar la enfermedad de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{enfermedad}" type="text" id="enfermedad" required>
                    <label class="label" for="enfermedad">Enfermedad</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Campo para modificar la foto de la mascota -->
                <div class="form-group input-container">
                    <input th:field="*{foto}" type="url" id="foto" required>
                    <label class="label" for="foto">Foto</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Checkbox para cambiar el estado de la mascota -->
                <div class="form-group input-container">
                    <select th:field="*{estado}" id="estado" required>
                        
                        <option value="Disponible">Disponible</option>
                        
                        <option value="Inactivo">Inactivo</option>

                    </select>
                    <label class="label" for="estado">Estado</label>
                    <div class="underline"></div>
                </div>
    
                <!-- Boton para enviar el formulario -->
                <button type="submit" class="btn btn-primary btn-enviar">Enviar</button>

            </div>
            
        </form>
    </div>
    <!-- Fin del apartado (izquierdo) -->

    <!-- Apartado (derecho) para mostrar la informacion actual de la mascota -->
    <div class="right-side">

        <!-- Encabezado de la informacion actual de la mascota -->
        <div class = "cabeza">
            <h1> Información actual: <span th:text=${mascota.nombre}></span></h1>
        </div>
            
        <!-- Card para mostrar la información de la mascota -->
        <div class = "info">
            
            <!-- Imagen de la mascota -->
            <div class="card-image-container">
                <img th:src="${mascota.foto}" alt="fotoPerro"/>
            </div> 

            <!-- Informacion de la card -->
            <div class = info-texto>

                <!-- Informacion de la mascota -->
                <div class = info-dog>
                    <h2>Información Mascota</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Raza: <span th:text="${mascota.raza}"></span></li>
                            <li>Edad: <span th:text="${mascota.edad}"></span></li>
                            <li>Peso: <span th:text="${mascota.peso}"></span></li>
                            <li>Enfermedad: <span th:text="${mascota.enfermedad}"></span></li>
                            <!-- <li>Estado: <span th:text="${mascota.estado}"></span></li> -->
                        </ul>
                    </div>
                    
                </div>

                <!-- Informacion del dueño de la mascota -->
                <div class = info-dueño>
                    <h2>Información Dueño</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Cedula: <span th:text="${mascota.cliente.cedula}"></span></li>
                            <li>Nombre: <span th:text="${mascota.cliente.nombre}"></span></li>
                            <li>Apellido: <span th:text="${mascota.cliente.apellido}"></span></li>
                            <li>Celular: <span th:text="${mascota.cliente.celular}"></span></li>
                        </ul>
                    </div>
                    
                </div> 
            </div>                     
            
        </div>
    </div>
    <!-- Fin del apartado (derecho) -->
    
</div>