::ng-deep body::-webkit-scrollbar {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  padding: 0.4rem 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active ~ .barChart {
  height: calc(550px - 5px);
}

/* .sidebar.active ~ .tratStats {
  width: calc(100% - 7%);
} */

.sidebar.active {
  width: 250px;
}

.main-content {
  background-color: #eeeeee;
  position: relative;
  height: auto;
  top: 0;
  left: 100px;
  transition: all 0.5s ease;
  width: calc(100% - 100px);
  padding: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  width: 100%;
  height: 25%;

  border: #000000 1px solid;
  /*border: #000000 1px solid;*/
}

.Titulo-principal {
  font-size: 8em;

}

/* Empieza middle */
.middle {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;

  /*border: #000000 1px solid;*/
}

.categoria {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  /*border: #000000 1px solid;*/
}

.catTitle {
  display: flex;
  width: 100%;
  height: 20%;
  padding-left: 18px;
  font-size: 2.8em;
  text-align: center;


  /*border: #000000 1px solid;*/
}

.catWidgets {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  /*border: #000000 1px solid;*/
}

.card2 {
  display: flex;
  flex-direction: column;
  width: calc(260px - 5px);
  height: 175px;
  background-color: #ffffff;
  border-radius:20px;
  transition: all .4s;
 }

 .vetStats:hover {
  box-shadow: 0px 0px 30px 1px #3468c0;
 }

 .petStats:hover {
  box-shadow: 0px 0px 30px 1px #ff9c35;
 }

 .moneyStats:hover {
  box-shadow: 0px 0px 30px 1px #33f33a;
 }

 .card-header {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  /*border: #000000 1px solid;*/
 }

 .icono {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5em;

  /*border: #000000 1px solid;*/
 }

 .vetIcon {
  color: #3468c0;
  font-size: 7em !important;
 }

 .petIcon{
  color: #ff9c35;
 }

 .moneyIcon {
  width: 25% !important;
  color: #33f33a;
 }

 .dato {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  /*border: #000000 1px solid;*/
 }

 .vetDato {
  text-decoration: underline#3468c0;
 }

 .petDato{
  text-decoration: underline#ff9c35;
 }

 .moneyDato {
  width: 75% !important;
  font-size: 2em !important;
  text-decoration: underline#33f33a;
 }

 .card-body {
  width: 100%;
  height: 50%;
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  /*border: #000000 1px solid;*/
 }

 .card-body p {
  font-size: 1.5em;
  text-align: center;

  /*border: #000000 1px solid;*/
 }

/* Termina middle */

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  flex-grow: 1;

  /*border: #000000 1px solid;*/
}

.bottom-left {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  align-items: center;
  padding-top: 21px;

  /*border: #000000 1px solid;*/
}

.bottom-left h1 {
  margin-top: 12px;
  height: 57px;
  width: 100%;
  text-align: center;

  /*border: #000000 1px solid;*/
}

.tratStats{
  display: flex;
  flex-direction: row;
  width: calc(100% - 7%);
  height: 155px;
  background-color: #ffffff;
  border-radius:20px;
  transition: all .4s;
  justify-content: center;
  align-items: center;

  /*border: #000000 1px solid;*/
 }

 .tratStats:hover {
   box-shadow: 0px 0px 30px 1px #ff3333;
 
   /*border: #000000 1px solid;*/
  }

 .tratStats-header {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;

  /*border: #000000 1px solid;*/
 }

 .tratIcon {
  color: #ff3333;

  /*border: #000000 1px solid;*/
 }

 .tratDato {
  text-decoration: underline#ff3333;

  /*border: #000000 1px solid;*/
 }

 .tratStats-body {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;

  /*border: #000000 1px solid;*/
 }

 .tratStats-body p {
  font-size: 1.5em;
  text-align: center;

  /*border: #000000 1px solid;*/
 }

 .tabla-container {
  width: calc(100% - 7%);
  height: 378px;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: 21px;

}

.tabla-container::-webkit-scrollbar {
  display: none;
}

table.tablita {
  font-size: 1.5em;
  width: 100%;
  overflow-y: scroll;
  border-collapse: separate;
  border-spacing: 0px;
}

.tablita th,
.tablita td {
  padding: 10px;
  text-align: center;
}

.tablita th:first-child {
  border-top-left-radius: 10px;
}

.tablita th:last-child {
  border-top-right-radius: 10px;
}

.tablita th {
  position: sticky; /* Fija el encabezado en su posición */
  top: 0;
  background-color: #3468c0;
  color: white;
}

.tablita tr:nth-child(odd) {
  background-color: #ffffff;
}

.tablita tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.tablita tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.bottom-right {
  display: flex;
  width: 66.5%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 12px;
  padding-bottom: 18px;

  /*border: #000000 1px solid;*/
}

.barChart {
  width: 100%;
  /* width: calc(95% + 2%); */
  /* width: calc(1112px - 2px); */
  height: calc(558px - 5px) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 1s ease;

}

