<body>

    <div class="foto">
      <img src="../../../assets/images/fotoError.png" alt="logo"/>
    </div>
    
    <div class="contenido">
      
      <div class="cajaTexto">
        <h1>404</h1>
      </div>

      <h3>
        La cedula
        <span th:text="${cedula}" class="valor"></span>
        no existe
      </h3>

      <div class="cabeza">
        <button class="botonVolver" onclick="goBack()">
          <h3 id="volver">Volver</h3>
        </button>
      </div>
    </div>

</body>