<!-- boton para volver al landing -->
<a [routerLink]="['../../']">
    <img src="../../../assets/images/dog.png" class="logoLogin" />
  </a>
  
  <div class="container">
    <!-- imagen de la izquierda -->
    <img src="../../../assets/images/loginCliente.jpg" class="fotoLogin" />

    <!-- informacion de la derecha -->
    <div class="info">
      <h1>Iniciar sesión</h1>
      <h3>¡Inicia sesión a tu cuenta de Petly!</h3>

      <!-- formulario de inicio de sesion para cliente -->
      <form class="formulario" method="post">
        <div class="datos">
          <label for="cedula">Cédula</label>
          <input type="text" id="cedula" name="cedula" [(ngModel)]="cedulaCliente">
        </div>

        <!-- boton de inicio de sesion para cliente -->
        <button type="submit" class="boton" (click)="loginCliente()">
          Iniciar sesión
        </button>

        <!-- redireccion para iniciar sesion de veterinario -->
        <p class="redirect">
          ¿Eres un veterinario? 
          <a [routerLink]="['../veterinario']">Inicia sesión aqui</a>
        </p>
      </form>
    </div>
  </div>