<app-cliente-sidebar class="sidebar"></app-cliente-sidebar>

<!-- Contenido principal -->
<div class = "main-content">
    
    <div class = "search">
        <h1>Mascotas</h1>
        <!-- input de busqueda para filtrar mascotas por nombre -->
        <app-searchbar-mascota-nombre class="searchbar"></app-searchbar-mascota-nombre>
    </div>

    <!-- Tabla con las mascotas del cliente -->
    <table id="myTable" class="tablita">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Enfermedad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <!-- Cuerpo de la tabla con las mascotas del cliente y sus datos (datos de la base de datos) -->
        <tbody>
            <!-- por cada mascota del cliente se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
            <tr th:each="mascota : ${cliente.mascotas}"> 
                <td><img class="fotoPerro" th:src="${mascota.foto}" alt="Foto Mascota"/></td>
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.raza}"></td>
                <td th:text="${mascota.edad}"></td>
                <td th:text="${mascota.peso}"></td>
                <td th:text="${mascota.enfermedad}"></td>
                <td class="opciones">
                    <a class="links icono" th:href="@{/usuario/{cliente}/mascota/{id}(cliente=${cliente.id}, id=${mascota.id})}">
                        <i class='bx bx-info-circle'></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- Fin de contenido principal -->