<app-landing></app-landing> 
    

<!-- PAGINAS-COMPONENTES DEL CLIENTE -->
<!-- <app-cliente-perfil></app-cliente-perfil> -->
<!-- <app-cliente-mostrar-mascota></app-cliente-mostrar-mascota> -->


<!-- <app-cliente-login></app-cliente-login> -->


<!-- PAGINAS-COMPONENTES DEL VETERINARIO -->

<!-- <app-vet-sidebar></app-vet-sidebar> -->

<!-- <app-vet-login></app-vet-login> -->

<!-- <app-vet-mostrar-mascota-todas></app-vet-mostrar-mascota-todas> -->
<!-- <app-vet-mostrar-mascota></app-vet-mostrar-mascota> -->
<!-- <app-vet-modificar-mascota></app-vet-modificar-mascota>  -->


<!-- <app-vet-registrar-mascota></app-vet-registrar-mascota> -->

<!-- <app-vet-mostrar-cliente-todos></app-vet-mostrar-cliente-todos> -->
<!-- <app-vet-mostrar-cliente></app-vet-mostrar-cliente> -->
<!-- <app-vet-modificar-cliente></app-vet-modificar-cliente> -->

<!-- <app-vet-registrar-cliente></app-vet-registrar-cliente> -->


