<body>

    <!-- Formulario para registrar nuevo cliente (presentado en card) -->
    <form method="post" class="card">
        
        <!-- Parte superior de la card para el logo y el titulo -->
        <div class="card-top">
            <img src="../../../assets/images/logo.png" alt="logo"/>            
            <h1>Registrar nuevo cliente</h1>
        </div>

        <!-- Cuerpo de la card, contiene el formulario -->
        <div class="formulario">

            <!-- division superior del formulario para la cedula y el nombre -->
            <div class="form-div">

                <div class="form-group input-container">
                    <input type="text" id="cedula" name="cedula" [(ngModel)]="formCliente.cedula" required>
                    <label class="label" for="cedula">Cedula Cliente</label>
                    <div class="underline"></div>
                </div>
                
                <div class="form-group input-container">
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="formCliente.nombre" required>
                    <label class="label" for="nombre">Nombre Cliente</label>
                    <div class="underline"></div>
                </div>

            </div>
        
            <!-- division central del formulario para el apellido y el correo -->
            <div class="form-div">

                <div class="form-group input-container">
                    <input type="text" id="apellido" name="apellido" [(ngModel)]="formCliente.apellido" required>
                    <label class="label" for="apellido">Apellido Cliente</label>
                    <div class="underline"></div>
                </div>
        
                <div class="form-group input-container">
                    <input type="email" id="correo" name="correo" [(ngModel)]="formCliente.correo" required>
                    <label class="label" for="correo">Correo Cliente</label>
                    <div class="underline"></div>
                </div>

            </div>
    
            <!-- division inferior del formulario para el celular -->
            <div class="form-group input-container form-div">
                <input type="number" id="celular" name="celular" [(ngModel)]="formCliente.celular" required>
                <label class="label" for="celular">Celular Cliente</label>
                <div class="underline"></div>
            </div>
    
            <!-- Botones para enviar el formulario y volver -->
            <div class="form-div">
                <button class="btn-secondary" onclick="window.location.href='/#/veterinario/clientes/all'">Volver</button>
                <button type="submit" class="btn-primary" (click)="agregarCliente()">Registrar</button>
            </div>

        </div>

    </form>
</body>