<app-cliente-sidebar class="sidebar"></app-cliente-sidebar>

<div class = "main-content">

    <!-- Apartado (izquierdo) para presentar la información de la mascota -->
    <div class = "left-side">

        <!-- nombre de la mascota -->
        <div class = "cabeza" *ngFor="let mascota of cliente.mascotas">
            <h1> {{mascota.nombre}} </h1>
        </div>
        
        <!-- Card para presentar la información de la mascota -->
        <div class = "info">
            
            <!-- imagen de la mascota -->
            <div class="card-image-container" *ngFor="let mascota of cliente.mascotas">
                <img alt="fotoPerro" [src]="mascota.foto"/>
            </div> 

            <!-- informacion de la card -->
            <div class = info-texto>

                <!-- Informacion de la mascota -->
                <div class = info-dog>
                    <h2>Información Mascota</h2>
                    <div class="lista">
                        <ul class="card-des" *ngFor="let mascota of cliente.mascotas">
                            <!-- Se muestra la información de la mascota (de la base de datos) -->
                            <li>Raza: <span> {{mascota.raza}} </span></li>
                            <li>Edad: <span> {{mascota.edad}} </span></li>
                            <li>Peso: <span> {{mascota.peso}} </span></li>
                            <li>Enfermedad: <span> {{mascota.enfermedad}} </span></li>
                            <li>Estado: <span> {{mascota.estado}} </span></li>
                        </ul>
                    </div>
                    
                </div>

                <!-- Informacion del dueño de la mascota -->
                <div class = info-dueño>
                    <h2>Información Dueño</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Cedula: <span> {{cliente.cedula}} </span></li>
                            <li>Nombre: <span> {{cliente.nombre}} </span></li>
                            <li>Apellido: <span> {{cliente.apellido}} </span></li>
                            <li>Celular: <span> {{cliente.celular}} </span></li>
                        </ul>
                    </div>
                    
                </div> 
            </div>                     
            
        </div>
    </div>
    <!-- Fin Apartado (izquierdo) -->

    <!-- Apartado (derecho) para mostrar los tratamientos de la mascota -->
    <div class = "right-side">

        <!-- Apartado para la barra de busqueda para filtrar los tratamientos -->
        <div class = "search">
            <h1>Tratamientos </h1>
        </div>
        
        <!-- Tabla con los tratamientos de la mascota -->
        <table class="tablita">
            <thead>
                <tr>
                    <th>Veterinario</th>
                    <th>Medicina</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla con los tratamientos de la mascota -->
            <tbody>
                <!-- por cada tratamiento de la mascota se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
            </tbody>
        </table>
        
    </div>
    <!-- Fin Apartado (derecho) -->



</div>