<app-cliente-sidebar class="sidebar"></app-cliente-sidebar>

<div class = "main-content">

    <!-- Apartado (izquierdo) para presentar la información de la mascota -->
    <div class = "left-side">

        <!-- nombre de la mascota -->
        <div class = "cabeza">
            <h1> NomPerro </h1>
        </div>
        
        <!-- Card para presentar la información de la mascota -->
        <div class = "info">
            
            <!-- imagen de la mascota -->
            <div class="card-image-container">
                <img th:src="${mascota.foto}" alt="fotoPerro"/>
            </div> 

            <!-- informacion de la card -->
            <div class = info-texto>

                <!-- Informacion de la mascota -->
                <div class = info-dog>
                    <h2>Información Mascota</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <!-- Se muestra la información de la mascota (de la base de datos) -->
                            <li>Raza: <span th:text="${mascota.raza}"></span></li>
                            <li>Edad: <span th:text="${mascota.edad}"></span></li>
                            <li>Peso: <span th:text="${mascota.peso}"></span></li>
                            <li>Enfermedad: <span th:text="${mascota.enfermedad}"></span></li>
                            <!-- <li>Estado: <span th:text="${mascota.estado}"></span></li> -->
                        </ul>
                    </div>
                    
                </div>

                <!-- Informacion del dueño de la mascota -->
                <div class = info-dueño>
                    <h2>Información Dueño</h2>
                    <div class="lista">
                        <ul class="card-des">
                            <li>Cedula: <span th:text="${mascota.cliente.cedula}"></span></li>
                            <li>Nombre: <span th:text="${mascota.cliente.nombre}"></span></li>
                            <li>Apellido: <span th:text="${mascota.cliente.apellido}"></span></li>
                            <li>Celular: <span th:text="${mascota.cliente.celular}"></span></li>
                        </ul>
                    </div>
                    
                </div> 
            </div>                     
            
        </div>
    </div>
    <!-- Fin Apartado (izquierdo) -->

    <!-- Apartado (derecho) para mostrar los tratamientos de la mascota -->
    <div class = "right-side">

        <!-- Apartado para la barra de busqueda para filtrar los tratamientos -->
        <div class = "search">
            <h1>Tratamientos </h1>
            <app-searchbar-mascota-nombre class="searchbar"></app-searchbar-mascota-nombre>    
        </div>
        
        <!-- Tabla con los tratamientos de la mascota -->
        <table class="tablita">
            <thead>
                <tr>
                    <th>Medicina</th>
                    <th>Fecha</th>
                    <th>Veterinario</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla con los tratamientos de la mascota -->
            <tbody>
                <!-- por cada tratamiento de la mascota se crea una fila de la tabla con sus datos (los datos de la base de datos) -->
                <tr th:each="tratamiento : ${tratamientos}">
                    <td th:text="${tratamiento.droga}"></td>
                    <td th:text="${tratamiento.fecha}"></td>
                    <td th:text="${tratamiento.veterinario}"></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <!-- Fin Apartado (derecho) -->



</div>