<head>
   <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
</head>

<body>
    <header>
        <p class="titulo">PetlyPal Bot</p>

        <img src="../../../assets/images/gifBot.gif" class="botGif">
    </header>

    <section class="chat" id="secChat">
        <div class="saludoBot">
            <p>¡Hola! Soy PetlyPal, tu amigable asistente virtual de Petly, donde el amor y la salud se encuentran en cada ladrido. ¿Cómo puedo ayudarte hoy? Estoy aquí para responder todas tus preguntas y para brindarte la mejor atención posible.</p>
        </div>
    </section>

    <section class="preguntas">
        <select required id="pregunta" class="selectPreguntas" type="text">
            <option disabled selected>Selecciona una pregunta</option>
            <option>¿Qué es Petly?</option> 
            <option>¿Quiénes desarrollaron Petly?</option> 
            <option>¿Dónde está ubicada la veterinaria?</option> 
            <option>¿Cuál es el horario de atención?</option> 
            <option>¿Atienden otro tipo de mascotas?</option> 
            <option>¿Qué servicios prestan?</option>
        </select>

        <button class="btnPregunta" type="button" (click)="hacerPregunta()">
            <i class='bx bxs-send enviarButton'></i>
        </button>               
    </section>
</body>