::ng-deep body::-webkit-scrollbar {
  display: none;
}

body {
  height: 650px;
  width: 450px;
  background-color: #ffffff;
  border: 2px solid #3468c0;
  border-radius: 30px;
  position: fixed;
  bottom: 200px;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Header */

header {
  height: 50px;
  width: 100%;
  background-color: #3468c0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.titulo {
  color: #ffffff;
  font-size: 25px;
}

.botGif {
  height: 65px;
}

/* Chat */

.chat {
  height: 550px;
  width: 100%;
  padding: 25px;
  overflow: auto;
}

.saludoBot {
  width: 300px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #ffdd95;
  text-align: justify;
}

:host ::ng-deep .userQuestion {
  width: 300px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  left: 96px;
  border-radius: 10px;
  background-color: #86a7fc;
  text-align: justify;
  color: #ffffff;
}

:host ::ng-deep .botAnswer {
  width: 300px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #ffdd95;
  text-align: justify;
}

.vacio {
  display: none;
}

/* Preguntas */

.preguntas {
  height: 50px;
  width: 100%;
  background-color: #3468c0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.selectPreguntas {
  font-size: 20px;
  width: 335px;
  height: 35px;
  border-radius: 50px;
  border: 2px solid #898989;
  color: #000000;
  outline: none;
  padding-left: 10px;
  -webkit-appearance: none;
}

.enviarButton {
  color: #ffffff;
  font-size: 20px;
}

.btnPregunta {
  height: 35px;
  width: 35px;
  background-color: #ff9c35;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPregunta:hover {
  box-shadow: 0 4px 16px #ff9c35;
  transition: all 0.2s ease;
}

/* Loading */
:host ::ng-deep .typing-indicator {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

:host ::ng-deep .typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #ff9c35;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

:host ::ng-deep .typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

:host ::ng-deep .typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

:host ::ng-deep .typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

:host ::ng-deep .typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

:host ::ng-deep .typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
